<h1>Stupid coaching</h1>
<button><%= link_to "Other question", root_path %></button>

<div class="question">
  <p><%= @question %></p>
  <p>- you</p>
</div>
<div class="answer">
  <p><strong><%= @answer %></strong></p>
  <p>- Coach</p>
</div>
